
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-custom-green {
    background-color: #4cc082;
    min-height: 100vh;
}

.PPHeader {
    background: transparent; 
    min-height: 120px;
}


.main-card {
    background-color: white;
    border-radius: 50px;
    min-height: 75vh;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 300px;
    border-right: 1px solid #eee;
}

.photo-placeholder-circle {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    padding: 15px;
}

.btn-sidebar {
    background-color: #8e8e8e;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-sidebar:hover {
    background-color: #6e6e6e;
}

.btn-pink {
    background-color: #ff69b4;
    color: black;
    border: none;
    padding: 8px 20px;
    font-weight: 500;
    border-radius: 4px;
}

.content-area {
    flex-grow: 1;
}

.black-box-container {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.PIMarcaDeAgua {
    position: fixed;
    bottom: -20px;
    right: -20px;
    z-index: 1000;
}