/* Configuración General es un selector universal. Afecta a todas las etiquetas.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #52c47d; /* Verde del fondo principal */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Encabezado con degradado */
.main-header {
    background: linear-gradient(to right, #20a383, #52c47d);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between; /* Título a la izquierda, logos a la derecha */
    align-items: center; /* Alineación vertical perfecta */
    color: white;
}

/* Este es el contenedor de las imágenes */
.header-logos {
    display: flex;
    align-items: center; 
    gap: 20px; /* Esto crea un espacio uniforme entre cada logo */
}

/* Control total sobre las imágenes */
.header-logos img {
    height: 50px; /* Es mejor fijar la altura para que todos se vean parejos */
    width: auto;  /* El ancho se ajusta solo para no deformar la imagen */
    object-fit: contain;
}

.title-container h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}


/* Área de contenido */
.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Tarjeta de Login */
.login-card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);/* da profundidad para que sobresalg*/
    z-index: 10; /* para que el cuadro login este por encima de las imagenes */
    text-align: center;
}

.login-card h2 {
    margin-bottom: 30px;
    border-bottom: 2px solid #52c47d;
    padding-bottom: 10px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #52c47d;
    padding: 8px 0;
    outline: none;
    font-size: 1rem;
}

.forgot {
    display: block;
    text-align: left;
    margin-bottom: 25px;
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-submit {
    background-color: #52c47d;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}


/* Decoraciones laterales */
.deco-left {
    position: absolute;/* modo fantasma */
    left: 5%;
    width: 250px;
    opacity: 0.8;
}

.deco-right {
    position: absolute;
    right: 5%;
    width: 250px;
    opacity: 0.5;
}