*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.PPHeader{
    background: linear-gradient(to right,#20a383,#52c47d);
}
.boton{
    color: white;
    border: none;
}
.PIMarcaDeAgua img{
    position:fixed;
    bottom:0;
    right:0;
    width:120px;
    opacity:0.7;
}
.relleno{
    margin-left: 50px;
}