body{
    margin:0;
    padding:0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(150deg, #f0fdf4, #1abc4a);
    height: 100vh;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #f0fdf4;
    border-radius: 10px;
}
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #1abc4a;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .username,
form .password{
    margin: 30px 0;
}
.username label,
.password label{
    display: block;
    margin-bottom: 5px;
    color: #1abc4a;
    font-size: 16px;
}
.username input,
.password input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #1abc4a;
    outline: none;
    background: none;
}
.recordar{
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}
.recordar:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: none;
    background: #1abc4a;
    border-radius: 25px;
    font-size: 18px;
    color: #f0fdf4;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
input[type="submit"]:hover{
    background: #169c3c;
}
.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.registrarse a{
    color: #1abc4a;
    text-decoration: none;
}
.registrarse a:hover{
    text-decoration: underline;
}
