* {
    box-sizing: border-box;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.PPHeader{
    text-align: center; background-color: rgba(55, 137, 55, 0.636);
}
.PPRegistroTrabajadores{
    color: black;
    margin-right: 10%;
}
.PPRegistroMascotas{
    color: black;
    margin-right: 10%;
    margin-left: 10%;
}
.PPEstadisticas{
    color: black;
    margin-right: 10%;
    margin-left: 10%;
}